h1{
	font-size: 60px;
	background: none repeat scroll 0 0 #EEEEEE;
	color: #707070;
	text-shadow: 3px 3px 0 #EEEEEE, 5px 5px 0 #707070;
	letter-spacing: 1px;
	word-spacing: 3px;
	padding: 0 15px 10px;
}

p{
	padding: 0 0 12px;
}

.bodyWrapper{
	margin: auto 50px;
	padding: 20px 0;
	line-height: 1.3;
}


#drop_down{
	display: none;
	border: 1px solid #dbdbdb;
	background: #efefef;
	padding: 15px 15px 5px;
}

#drop_down_btn{
	background: #dbdbdb;
	padding: 0 15px;
    color: #666;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2;
}

#drop_down2 {
	display: none;
	border: 1px solid #efefef;
	background: #dbdbdb;
	padding: 15px 15px 5px;
}

#drop_down_btn2 {
	background: #efefef;
	padding: 0 15px;
    color: #666;
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 2;
}